<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <link th:href="@{/styles/error.css}" rel="stylesheet" />
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>REGISTRASI</title>
</head>

<body>
<section class="ftco-section">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-7 col-lg-5">
                  <div class="wrap">
                      <div class="login-wrap p-4 p-md-5">
                          <div class="d-flex">
                              <div class="w-100">
                                  <h3 class="mb-4">Register</h3>
                              </div>
                          </div>
                          <form th:action="@{/api/authz/v1/register/}" th:object = "${usr}" method="POST" class="signin-form">
                              <div th:if="${#fields.hasErrors('global')}" class="error-box error-danger" >
                                  <p th:each="err : ${#fields.errors('global')}" th:text="${err}"  />
                              </div>
                              <div class="form-group mt-3">
                                  <label for="namaLengkap">Nama Lengkap:</label>
                                  <input type="text" th:field = "*{namaLengkap}" name="namaLengkap" id="namaLengkap" class="form-control" required/>
                                  <ul>
                                      <li th:each="err : ${#fields.errors('namaLengkap')}" th:text="${err}" class="error" />
                                  </ul>
                              </div>
                              <div class="form-group">
                                  <label for="username">Username:</label>
                                  <input type="text" th:field = "*{username}" name="username" id="username" class="form-control" required/>
                                  <ul>
                                      <li th:each="err : ${#fields.errors('username')}" th:text="${err}" class="error" />
                                  </ul>
                              </div>
                              <div class="form-group">
                                  <label for="email">Email:</label>
                                  <input type="text" th:field = "*{email}" name="email" id="email" required/>
                                  <ul>
                                      <li th:each="err : ${#fields.errors('email')}" th:text="${err}" class="error" />
                                  </ul>
                              </div>
                              <div class="form-group">
                                  <label for="password">Password:</label>
                                  <input type="password" th:field = "*{password}" name="password" id="password" required/>
                                  <ul>
                                      <li th:each="err : ${#fields.errors('password')}" th:text="${err}" class="error" />
                                  </ul>
                              </div>
                              <div class="form-group">
                                  <label for="noHP">No HP:</label>
                                  <input type="text" th:field = "*{noHP}" name="noHP" id="noHP" required/>
                                  <ul>
                                      <li th:each="err : ${#fields.errors('noHP')}" th:text="${err}" class="error" />
                                  </ul>
                              </div>
                              <div class="form-group">
                                  <label for="tanggalLahir">Tanggal Lahir:</label>
                                  <input type="date" th:field="*{tanggalLahir}"  id="tanggalLahir" required/>
                              </div>


                              <div class="form-group">
                                  <button type="submit" class="form-control btn btn-primary rounded submit px-3">Register</button>
                              </div>

                          </form>
                          <p class="text-center"><a th:href = "@{/api/check/signin}">Back</a></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</section>
</body>
</html>