<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>ArticLe</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <div th:replace="partials/page_css_front.html :: css"></div>
</head>

<body>

<!--==========================
  Header
============================-->
<header id="header">
  <div class="container-fluid">

    <div id="logo" class="pull-left">
      <h1><a href="/" class="scrollto">ArticLe</a></h1>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li>
          <a th:if="${USR_IDZ != null}" href="/api/check/admin">dashboard</a>
        </li>
        <li>
          <a th:if="${USR_IDZ != null}" href="/api/check/logout">logout</a>
        </li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="intro">
  <div class="intro-container">
    <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <div th:each = "ab: ${articlesbanner}" class="carousel-item">
          <div class="carousel-background"><img th:src="${ab.imageArticle}" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 th:text = "${ab.titleArticle}">We are professional</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <a th:href="'/article/'+${ab.idArticle}" class="btn-get-started scrollto">Read</a>
            </div>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>
</section><!-- #intro -->

<main id="main">
  <!--==========================
    article Section
  ============================-->
  <section id="article"  class="section-bg" >
    <div class="container">

      <header class="section-header">
        <h3 class="section-title">Our article</h3>
      </header>

<!--      <div class="row">-->
<!--        <div class="col-lg-12">-->
<!--          <ul id="article-flters">-->
<!--            <li data-filter="*" class="filter-active">All</li>-->
<!--            <li data-filter=".filter-app">App</li>-->
<!--            <li data-filter=".filter-card">Card</li>-->
<!--            <li data-filter=".filter-web">Web</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->

      <div class="row article-container">
        <div th:each = "article: ${articles}" class="col-lg-4 col-md-6 article-item wow fadeInUp">
          <div class="article-wrap">
            <figure>
              <img th:src="${article.imageArticle}" class="img-fluid" alt="">
              <a th:href="${article.imageArticle}" data-lightbox="article" th:data-title="${article.titleArticle}" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
              <a th:href="'/article/'+${article.idArticle}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
            </figure>

            <div class="article-info">
              <h4><a th:text = "${article.titleArticle}" th:href="'/article/'+${article.idArticle}"></a></h4>
              <p th:text = "${article.categoryArticle.nameCategoryArticle}"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- #article -->
</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>BizPage</strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
      -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

<div th:replace="partials/page_js_front.html :: js"></div>

</body>
</html>
